:root {
  --light-gold: rgb(254, 187, 63);
  --dark-gold: rgb(215, 147, 23);
}

body {
  height: 10vh;
  margin: 0;
  overflow: hidden;
  cursor: none;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

#star-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, var(--light-gold), var(--dark-gold));
}

#star-pattern {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  background-image: url("https://assets.codepen.io/1468070/Star+Pattern+3.svg");
  background-size: 10%;
  background-repeat: repeat;
  opacity: 10%;
  /* translate: -50% 0%;
  left: 50%;
  top: 0px; */
  animation: pan 120s linear infinite;
}

#star-gradient-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, transparent 60%, var(--dark-gold));
}

#cursor {
  position: absolute;
  height: 2rem;
}

#cursor > img {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#cursor-eyes {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 8px;
  left: 8px;
}

.cursor-eye {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2px;
  height: 8px;
  width: 3px;
  border-radius: 3px;
  animation: blink 7s infinite;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  93% {
    transform: scale(1);
  }
  94% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
