:root {
  --light-gold: rgb(254, 187, 63);
  --dark-gold: rgb(215, 147, 23);
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

@keyframes pan {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(10%, 0%);
  }
}

#star-container {
  height: 100%;
  background-color: var(--light-gold);
  background: radial-gradient(var(--light-gold), var(--dark-gold));
  overflow: hidden;
  position: relative;
}

#star-pattern {
  height: 100%;
  background-image: url("https://assets.codepen.io/1468070/Star+Pattern+3.svg");
  background-size: 5%;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0%;
  z-index: 1;
  height: 100%;
  width: 200%;
  min-width: 1200px;
  opacity: 15%;
  animation: pan 10s linear infinite;
}

#star-gradient-overlay {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 75%, var(--dark-gold));
}
