body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("https://res.cloudinary.com/dbc4zumh8/image/upload/v1692976152/scott-goodwill-y8Ngwq34_Ak-unsplash_wk8hv0.jpg");
    background-size: cover;
    background-position-y: -50px;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.65);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.65);
}

.cover-container {
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
    color: white;
    border-color: white;
}

.btn-secondary, .btn-secondary:hover {
    color: #333;
    text-shadow: none;
}