#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Square {
  width: 5em;
  height: 5em;
  background-color: white;
  color: black;
  font-size: large;
  margin: 0.3em;
  border: 3px solid black;
  vertical-align: top;
}

.Square:hover {
  transition: scale 150ms;
  scale: 1.05;
}

.status {
  font-size: 1.5em;
  margin-bottom: 0.7em;
}